In [1]:
import numpy as np
import pandas as pd

In [3]:
from pandas import DataFrame
from pandas import read_html

url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
dflist = pd.io.html.read_html(url)

In [12]:
df=dflist[0]
df.columns = df.iloc[0]
df = df[1:]

In [14]:
df.head()

0 Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [25]:
df=df[df.Borough != 'Not assigned']

In [26]:
dfgroup = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()
dfgroup.columns = ['Postcode', 'Borough', 'Neighbourhood']
dfgroup.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [27]:
dfgroup['Neighbourhood'].replace('Not assigned', "Queen's Park", inplace=True)
dfgroup.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [28]:
dfgroup.shape

(103, 3)

In [35]:
df2=pd.read_csv("https://cocl.us/Geospatial_data")

In [36]:
df2.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [38]:
df2.rename({'Postal Code': 'Postcode'}, axis=1, inplace=True)

In [40]:
df3=pd.merge(df1, df2, on='Postcode')

In [41]:
df3.head(10)

  Postcode           Borough     Neighbourhood   Latitude  Longitude
0      M3A        North York         Parkwoods  43.753259 -79.329656
1      M4A        North York  Victoria Village  43.725882 -79.315572
2      M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636
3      M5A  Downtown Toronto       Regent Park  43.654260 -79.360636
4      M6A        North York  Lawrence Heights  43.718518 -79.464763
5      M6A        North York    Lawrence Manor  43.718518 -79.464763
6      M7A      Queen's Park      Not assigned  43.662301 -79.389494
7      M9A         Etobicoke  Islington Avenue  43.667856 -79.532242
8      M1B       Scarborough             Rouge  43.806686 -79.194353
9      M1B       Scarborough           Malvern  43.806686 -79.194353